<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.uestc.cac.dao.mapper.TestEntityMapper">

    <select id="selectWithId" resultType="cn.edu.uestc.cac.dao.entity.TestEntity">
        select * from test where id = #{id}
    </select>

    <update id="changeDataById">
        update test set `data` = #{newData} where id = #{id}
    </update>

    <delete id="deleteWithId">
        delete from test where id = #{id}
    </delete>

</mapper>